/*----------------------------
    Normal desktop :992px. 
-----------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {
.container {width:970px}
/*Home-1*/
.header-link-area.home-1 .angle-down.none {display: none;
}    
.header-link-area.home-1 ul.sub-menu.head-account { left: 0px; width: 150px;
}    
.header-link-area.home-1,.header-link-area.home-2 {display: inline-block; float: right;
}
.banner-top-1.home-1 { margin-top: 22px;
}
.banner-area-2.home-1 { margin: 20px 0 60px;
}    
li.search-hover:hover .search {top: 19px;
} 
.mega-menu.mega-menu-full {margin-left: -107px;
}
.mega-menu.mega-menu-level-1::before {left: 155px;
}    
.mega-menu.mega-menu-level-2 {margin-left: -206px;
}    
.mega-menu.mega-menu-level-2::before {left: 243px;
}
.mega-menu.mega-menu-level-3 {margin-left: -278px;
} 
.mega-menu.mega-menu-level-3::before {left: 340px;
}   
.home-2 .layer-2-1 .title1, .home-1 .layer-2-1 .title1,.home-2 .layer-1-1 .title1, .home-1 .layer-1-1 .title1 { left: 24%;
}    
.home-2 .layer-2-2 h2.title2, .home-1 .layer-2-2 h2.title2  ,.home-2 .layer-1-2 h2.title2, .home-1 .layer-1-2 h2.title2 {font-size: 97px;left: 126px;
}
.home-2 .layer-2-3 a.shop-n, .home-1 .layer-2-3 a.shop-n,.home-2 .layer-1-3 a.shop-n, .home-1 .layer-1-3 a.shop-n {left: 410px;
}    
.section-heading h3 {padding: 0 2px 3px;
}  
.single-product .deal-content h2 {margin: 15px 0 2px;
}    
.pro-deal-text { margin-bottom: 0px; margin-top: 10px;padding: 10px 0 0;
}    
.single-product .deal-content {padding: 0 15px 20px 20px;
}    
.countdown-pro-deal {padding: 16px 37px;
}    
.countdown-pro-deal .cdown.days,.countdown-pro-deal .cdown.hour,.countdown-pro-deal .cdown.minutes,.countdown-pro-deal .cdown.second {height: 80px; width: 80px;
    margin-right: 20px; padding-top: 2px;
    font-size: 12px;
}    
.countdown-pro-deal .cdown .time-count {font-size: 20px;} 
.countdown-pro-deal .cdown:before {display: none;}    
.countdown-pro-deal .cdown:last-child {margin-right: 0px;}    
.service-name h3 {font-size: 13px;
}    
.single-corporate::after {right: -8px;top: 46%;}    
.blog-time {left: 12px; top: 120px;
}   
/*--------------
    Home-3
---------------*/ 
.header-link-area.home-3 {text-align: center;
}
.mainmenu.home-3 .mega-menu.mega-menu-full {margin-left: -414px;}
.mainmenu.home-3 .mega-menu.mega-menu-level-1::before {left: 472px;}
.mainmenu.home-3 .mega-menu.mega-menu-level-2 { margin-left: -515px;}
.mainmenu.home-3 .mega-menu.mega-menu-level-2::before {left: 561px;}
.mainmenu.home-3 .mega-menu.mega-menu-level-3 {margin-left: -590px;}
.mainmenu.home-3 .mega-menu.mega-menu-level-3::before { left: 660px;}    
/*--------------
    Home-4
---------------*/    
.home-4 .layer-2-2 h2.title2, .home-4 .layer-1-2 h2.title2 {
  font-size: 70px;margin-bottom: 5px;
}    
.home-4 .layer-2-3 p.title3, .home-4 .layer-1-3 p.title3 {font-size: 12px;
}    
.home-4 .fas7-slider-content {padding: 35px 150px 50px 0;margin-left: 450px; 
}    
.home-4 .fas8-slider-content { padding: 35px 0 50px 100px;
}    
.home-4 .layer-2-4 a.shop-n,.home-4 .layer-1-4 a.shop-n { margin: 15px 0 0px;
}    
.banner-area.home-4-2,.banner-area-2.home-4 {margin: 25px 0 0;
}    
.testi-sidebar-img {margin-bottom: 85px; margin-top: 20px;
}
.sidebar-testimonial-content { padding: 0 28px 19px;
}
.testimonial-sidebar .sidebar-testimonial-content a::before { top: -73px;
}
.sidebar-testimonial-content a { margin-bottom: 7px;
}
.sidebar-testimonial-content .testimonial-author {
  margin-bottom: 0px;
}    
/*--------------
    Home-5
---------------*/   
.banner-area-2.home-5.margin-5bfw { margin-top: 25px;
}   
.mainmenu.home-5 .mega-menu.mega-menu-full { margin-left: -141px;
}    
.mainmenu.home-5 .mega-menu.mega-menu-level-1::before { left: 195px;
}    
.mainmenu.home-5 .mega-menu.mega-menu-level-2 { margin-left: -245px;
}
.mainmenu.home-5 .mega-menu.mega-menu-level-2::before { left: 288px;
}    
.mainmenu.home-5 .mega-menu.mega-menu-level-3 { margin-left: -322px;
}    
.mainmenu.home-5 .mega-menu.mega-menu-level-3::before { left: 390px;
}
.home-5 .fas9-slider-content {padding: 100px 0px 150px 10px;margin-right: 420px;
}    
.home-5 .fas10-slider-content { padding: 100px 100px 150px 0px;;margin-left: 390px;
}    
.home-5 .layer-2-3 h2.title3,.home-5 .layer-1-3 h2.title3 {font-size: 55px;
}    
/*--------------
    Home-6
---------------*/
.mainmenu.home-6 nav > ul > li > a {  margin-left: 32px;
}
.banner-area.home-6 { margin-top: 0px;
}
.banner-area.home-6.second  { margin-top: 25px;
}    
/*--------------
    blog-page
---------------*/    
.left-sidebar-title h2 {font-size: 16px;
}
.layout-list.compare ul li a {font-size: 12px;
}    
.product-cart.compare {padding: 0 20px;
}
/*--------------
    Cart-page
---------------*/        
.button-cart-right span a {margin-left: 0;
}    
/*--------------
    Contact-page
---------------*/     
.layout-list ul li span { margin: 8px 0 0 2px;
}
/*--------------
   Shop-page
---------------*/    
.price-filter-area .price-filter > p input { width: 120px;
}    
/*--------------
   Single-product
---------------*/    
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-next {
  top: 400px;
}
.single-zoom-thumb .bx-controls-direction a.bx-prev::after {
  right: 64px;
}    
.single-zoom-thumb::after {
  height: 465px;
}    
    
       
}

/*--------------------------- 
    Tablet desktop :768px. 
-----------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
.container {width:750px}
/*--------------
    Home-1
----------------*/
.search-hover.home-1 a.icon { float: none; margin: 0;
}
.cart-total.home-1 { display: inline-block; float: none; margin-top: 25px;
}    
.logo-img { text-align: center; padding: 20px 0 0;
}
.cart-total.home-1 {right: -10px;
}  
.header-link-area.home-1 { float: none;  position: relative; right: 20px;
    z-index: 99;
    display: inline-block;
}       
.header-area.home-1 .header-right.language { position: static; text-align: center;
}
li.search-hover.home-1:hover .search { top: -7px;
}
.search-hover.home-1 { position: relative; top: -23px; right: 30px;
    display: inline-block;
}    
.mobile-menu-area {padding: 254px 0 35px;
}    
.mobile-menu-area.home-3 { padding: 40px 0;
}
.mean-container .mean-bar { z-index: 9;
}    
.search.home-1 { right: 20px;
}    
.home-2 .layer-2-1 .title1, .home-1 .layer-2-1 .title1,.home-2 .layer-1-1 .title1, .home-1 .layer-1-1 .title1 { display: none;
}    
.home-2 .layer-2-2 h2.title2, .home-1 .layer-2-2 h2.title2  ,.home-2 .layer-1-2 h2.title2, .home-1 .layer-1-2 h2.title2 { display: none;
}
.home-2 .layer-2-3 a.shop-n, .home-1 .layer-2-3 a.shop-n,.home-2 .layer-1-3 a.shop-n, .home-1 .layer-1-3 a.shop-n { display: none;
}    
.banner-top-1 { margin-top: 16px;
}
.single-product .deal-content { padding: 0 20px 144px;
}
.countdown-pro-deal { padding: 10px 118px;
}
.banner-area-2.home-1 { margin: 55px 0 60px;
}    
.single-corporate.refunds { display: none;
}
.service-name h3 { padding-right: 0px;
}    
.blog-time {top: 68%;
}    
.footer-follow-link {margin-top: 10px; padding-top: 10px;
}
.footer-none {display: none;}    
.footer-contact p.adress { padding-bottom: 5px;
}
.footer-top-area {padding: 45px 0px;
}    
 /*------------
    Home-2
---------------*/   
.latest-testimonials-area {padding: 40px 0;
}    
 /*------------
    Home-3
---------------*/       
.header-area.home-3 .logo-img {text-align: center;padding: 20px 0;
}     
.section-heading.pro-title.mar-rt {margin-top: 25px;
}    
.single-banner.home-3 a.full-wide { margin: 55px 0 60px;
}
/*------------
    Home-4
---------------*/
.header-logo-area.home-4 .logo-img { padding: 30px 0;
}
.header-logo-area { margin-top: 0px;
}
.header-area.home-4 { margin-top: 0px;
}
.mobile-menu-area.home-4 { padding: 35px 0 35px;
}    
.home-4 .fas8-slider-content,.home-4 .fas7-slider-content,.home-5 .fas9-slider-content,.home-5 .fas10-slider-content {display: none;}     
.mainmenu.home-4 nav > ul > li > a { margin-left: 30px;
}    
.banner-area.home-4-2,.banner-area-2.home-4 {margin: 25px 0 0;
}    
.service-wrapp.home-4 .service-text { line-height: 20px;
}
.service-wrapp.home-4 .service-name h3 { line-height: 20px; margin-top: 6px;
}    
.single-testi-sidebar { padding: 0 0 0px;
}    
.brand-area-home-4 { margin-top: 60px;
}    
.single-testi-sidebar.new-pro-mar {margin-right: 20px;}    
.brand-area-home-4 .single-brand { text-align: center;
}
.sidebar-testimonial-content { padding: 0 35px 40px;
}    
/*------------
    Home-5
---------------*/    
.banner-area-2.home-5 { margin: 25px 0 0;
}    
.header-logo-area.home-5 { padding: 30px 0 55px;
}    
.mobile-menu-area.home-5 { padding: 40px 0px;
}    
.header-area.home-5 {margin: 0;}    
/*------------
    Home-6
---------------*/
.banner-area.home-6 { margin-top: 60px;
}    
.banner-area.home-6.second  { margin-top: 25px;
}    
/*------------
    About-us
---------------*/    
.header-area.shop-page {position: absolute;
}    
/*------------
    Blog-page
---------------*/    
.shop-banner-area .single-banner a span img { width: 100%;
}
.toolbar .sorter { float: right; width: 50%;
}
.pager-list .limiter {float: left; width: 50%;
}    
.blog-post-img a img { width: 100%;
}    
.blog-post-img a { display: block;
}     
/*-------------
   Cart-page
---------------*/    
.button-cart-right span a {margin-left: 0;
}
.cart-main-area .heading-title { margin-top: 30px;
}       
.checkout-form .product-cart { margin-top: 58px;
}
.user-bottom {margin: 35px 0 10px;text-align: left;
}    
.user-bottom.button-check .product-cart {float: right;}    
.left-btn > a { float: left;margin-top: 15px;
}    
.tablec tr td.order-padding { padding: 20px;
}
/*----------------
   checkout-page
-----------------*/
.card-control .label { font-size: 12px; overflow: visible;
}    
/*----------------
   Contact-page
-----------------*/    
.left-sidebar-title h2 { font-size: 17px;
}    
.layout-list ul li span { margin: 8px 0 0 2px;
}    
.product-cart.compare { padding: 0 20px;
}    
.shop-product-view .action-link a { height: 30px; line-height: 31px; width: 30px;
}    
.shop-product-view  .product-cart { padding: 0 20px;
}    
.shop-product-view  .toolbar .pages { float: left; margin: 20px 0 0;
}
/*--------------------
   Testimonial-page
---------------------*/    
.product-cart.testimonial { float: none;
}    
.testimonial-heading { text-align: center;
}    
.testimonial-heading h3 { float: none;
}
.pager-list.testimonial { float: none;
}    
 .testi-main-content { text-align: center;
}   
.testi-main-content .pager-list .limiter { width: 100%;
}    
.testi-author-text .testi-img { float: none; text-align: center; width: 100%;
  margin: 20px 0;
}   
.testi-author-text .autor-des { float: none; width: 100%;
}
/*--------------------
   Wishlist-page
---------------------*/    
.shopping-btn.wishlist a {font-size: 11px; padding: 0 10px;
}    
/*--------------------
   Single-product
---------------------*/
    .single-zoom {width: 520px;}    
.product-cart.single-pro { margin-top: 20px;
}
.zoomLens { height: 275px !important; width: 200px !important;
}    
.zoomWindow { height: 600px !important; width: 205px !important;
}    
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-next { top: 526px;
}
.single-zoom-thumb .bx-controls-direction a.bx-prev::after { right: 80px;
}    
.single-zoom-thumb::after { height: 624px;
}
.product-details.shop-review.single-pro-zoom { margin-top: 50px;
}
/*--------------------
   Login
---------------------*/    
.my-account label.inline { margin: 0 6px 0 0;
}       
    
}

/*-------------------------
    small mobile :320px. 
---------------------------*/
@media (max-width: 767px) {
.container {width:300px}
 /*------------
    Home-1
---------------*/
/*.header-link-area.home-1 ul li:nth-child(1) a  {
  margin: 0px;
}*/    
.mobile-menu-area { padding: 110px 0 35px;
}
.logo-img.home-1 { padding: 15px 0; text-align: center;
}    
.home-2 .layer-2-1 .title1, .home-1 .layer-2-1 .title1,.home-2 .layer-1-1 .title1, .home-1 .layer-1-1 .title1 {display: none;
}    
.home-2 .layer-2-2 h2.title2, .home-1 .layer-2-2 h2.title2  ,.home-2 .layer-1-2 h2.title2, .home-1 .layer-1-2 h2.title2 {display: none;
    }
.home-2 .layer-2-3 a.shop-n, .home-1 .layer-2-3 a.shop-n,.home-2 .layer-1-3 a.shop-n, .home-1 .layer-1-3 a.shop-n {display: none;
}    
.preview-1 .nivo-directionNav a.nivo-nextNav::before,.preview-1 .nivo-directionNav a.nivo-prevNav::before {height: 70px;width: 50px;top: 15px;
}
.preview-1 .nivo-directionNav a.nivo-nextNav::before{ margin-left: 19px;
}
.preview-1 .nivo-directionNav a.nivo-nextNav::after { left: 20px;
}    
.preview-1 .nivo-directionNav a.nivo-prevNav:after,.preview-1 .nivo-directionNav a.nivo-nextNav::after {width: 54px;
}    
.header-area {background: #999 none repeat scroll 0 0;position: static;
}
.header-area.home-1 .logo-img {text-align: center;padding: 19px 0px;
}       
.header-link-area ul.sub-menu {z-index: 33334444;
}
.header-link-area.home-1,.header-link-area.home-2 {display: inline-block; float: none;
  margin: 40px 0 0 5px;
}
.header-area.home-1 .header-right-area {text-align: center;
}   
.cart-total.home-1 {left: -43%; margin: 20px 0; position: relative; top: -23px;
    margin-left: -25px;
}    
.cart-total.home-1 ul li .mini-cart-content {right: -118px;top: 66px;
}
.header-link-area.home-1 {right: 0px;
}
a.banner-bott {margin-bottom: 20px;
}    
.header-search,.product-content.deal-content,.countdown-pro-deal { display: none;
}    
.single-product .product-deal { width: 100%;
}    
.banner-area-2.home-1 { margin: 60px 0 60px;
}    
ul.features-nav li a { padding: 0 15px;
}        
.testimonial-heading h2 {font-size: 27px;
}
.blog-time { top: 59%;
}
.section-heading.pro-title.res-margin {margin-top: 25px;}    
h3.wedget-title {margin-bottom: 2px;padding-bottom: 10px; margin-top: 30px;
}
.latest-testimonials-area { padding: 20px 0;
}    
.footer-contact p.adress { padding-bottom: 5px;
}    
.copy-right { margin-bottom: 20px;
}    
.store-switcher { margin-bottom: 20px;
}    
.payment-area { float: none;
}    
.footer-top-area {padding: 45px 0 0;
} 
.single-corporate::after {display: none;
}    
.single-corporate.many-treat.last { padding-right: 33px;
}    
.single-corporate.cor-mar-bott { margin-bottom: 15px;
}
.corporate-service-area.home-1 { text-align: left;
}    
/*--------------
    Home-3
---------------*/    
.header-right.home-3 .cart-total {left: -43%;position: relative;margin: 0;top: 0;
}    
.header-link-area { margin: 0px 0 0 5px;
}
.cart-total.home-3 ul li .mini-cart-content {right: -123px;top: 66px;
}    
.header-area.home-3 .logo-img { padding: 20px 0;
} 
.single-banner.home-3  a  { margin-bottom: 20px;
}
.single-banner.home-3 a.last-banner { margin-bottom: 0px;
}    
.section-heading.pro-title.mar-rt {margin-top: 25px;
}    
.single-banner.home-3 a.full-wide { margin: 60px 0;
}
.mobile-menu-area.home-3 { padding: 40px 0;
}    
.mobile-menu-area.home-3 .mean-container .mean-bar { position: relative; z-index: 0;
}    
.header-search.home-3 { position: relative; right: 125px; bottom: 2px;
}    
.search.home-3 { z-index: 9999999999;
}    
li.search-hover.home-3:hover .search { top: 47px;
}
.search.home-3 { right: 20px;
}
/*------------
    Home-4
-------------*/
.mobile-menu-area.home-4 { padding: 35px 0 35px;
}
.cart-total.home-4 ul li .mini-cart-content { right: -125px;
}
.header-logo-area { margin-top: 25px;
}    
.home-4 .fas8-slider-content,.home-4 .fas7-slider-content {display: none;}    
.header-logo-area.home-4 .logo-img { margin-bottom: 18px; padding: 0;
}    
.service-wrapp.home-4 .single-corporate { text-align: left;
}
.service-wrapp.home-4 .single-corporate.free-ship { padding-left: 0px;
}    
.service-wrapp.home-4 { padding-bottom: 0px;
}
.service-wrapp { border-bottom: 0px solid #ebebeb;
}    
.service-wrapp.home-4 .single-corporate.last-banner,.service-wrapp.home-4 .single-corporate p.last-banner {margin-bottom: 0;}    
.brand-area-home-4 .single-brand { text-align: center;
}    
.banner-area.home-4-2 { margin-top: 25px;
}    
.service-wrapp.home-4 .single-corporate { margin-bottom: 15px;
}    
/*--------------
    Home-5
---------------*/    
.corporate-service-area.home-5 { padding: 40px 0 0;
}    
.header-logo-area.home-5 {margin: 0px;}    
.header-logo-area.home-5 .logo-img { padding: 40px 0;
}    
.mobile-menu-area.home-5 { padding: 40px 0px;
}    
.features-nav-home-5 li::after { display: none;
}
.features-nav-home-5 li a { font-size: 17px;
}    
.features-nav-home-5 li a { margin-right: 0px;
}    
.features-nav-home-5 li { padding-bottom: 16px;
}    
.features-nav-home-5 li:nth-child(3) { padding-bottom: 45px;
}    
.cart-total.home-5 ul li .mini-cart-content { right: -123px;
}    
/*--------------
    Home-6
---------------*/    
.header-area.home-3.home-6 .logo-img { text-align: center;
}    
.banner-area.home-6 {
  margin-top: 60px;
}
.banner-area.home-6.second  { margin-top: 25px;
}    
.section-heading.home-6 h3 { font-size: 21px;
}    
.testimonial-carousel.home-6 .testimonial-img p img { margin-bottom: 51px;
}    
.testimonial-carousel.home-6 .testimonial-des p { display: none;
}    
.testimonial-author h5 { margin-right: 40px;
}    
/*--------------
    About--us
---------------*/    
 .about-info-pic { width: 100%;
}    
.about-info-text { display: none;
}    
.about-menu-area { text-align: center;
}    
.team-hedding p { font-size: 14px;
}    
.team-hedding h3 { font-size: 25px;
}    
.single-service-work.mem-margin,.single-member.mem-margin {margin-bottom: 30px;}   
/*--------------
    Blog-Page
---------------*/    
.blog-post-img a img { width: 100%;
}    
.blog-post-img a { display: block;
}    
.pager-list .limiter { display: inline-block; float: none;
}    
.toolbar { text-align: center;
}    
.toolbar .sorter { display: inline; float: none;
}    
.sorter .sort-by { padding: 20px 0;
}    
.pager-list .limiter select, .sorter .sort-by select { margin: 0px;
}
.tab-bar.rs-blog-mar { margin-top: 30px;
}
/*------------------
    Blog-Details
--------------------*/    
.blog-post-deilas { margin-top: 40px;
}    
/*------------------
    Cart-page
--------------------*/    
.cart-main-area .heading-title { margin-top: 30px;
}    
.cart-s-btn {text-align: center;
}
.buttons-cart a.cart-but-mar {margin-bottom: 15px;}    
.place-section .rate-subtotal a.check-cart-btn { font-size: 12px; width: 215px;
}  
.rate-subtotal { text-align: center; padding: 0px;  
}    
/*-------------------
    Checkout-page
--------------------*/    
.payment-method {margin-top: 50px;
}    
.checkout-form  .product-cart {float: left;} 
.checkout-area select { margin-left: 7px; padding: 8px; width: 130%;
}    
.left-btn > a { float: left; margin-top: 11px;
}    
.product-cart.order-button { float: left;
}    
.product-cart.login,.checkout-form.product-form { margin-top: 20px;
}
.card-control .label {
  font-size: 9px;
  overflow: hidden;
}     
/*-------------------
    Contact-page
--------------------*/
.map-area { margin-top: 40px;
}
/*-------------------
    Account-page
--------------------*/      
.new-customer { min-height: 250px;
}    
.product-cart.account-but { float: none;
}    
.create-button-area { text-align: center;
}    
.new-customer.account { margin-top: 40px;
}
.product-cart.account-but.log { margin-top: 20px;
}
/*-------------------
    Shop-page
--------------------*/      
.shop-product-view {margin-top: 30px;}    
.tab-bar .tab-bar-inner { float: none; text-align: center;
}    
.shop-product-view  .toolbar .pages { float: none;
}
/*-----------------------
    Testimonial-page
-------------------------*/     
.testimonial-heading { text-align: center; margin-top: 20px;
}    
.product-cart.testimonial,.testimonial-heading h3 { float: none;
}   
 .pager-list.testimonial { display: block; float: none; text-align: center;
} 
.testi-author-text .testi-img { float: none; text-align: center; width: 100%;
  margin: 20px 0;
}   
.testi-author-text .autor-des { float: none; width: 100%;
}
/*-----------------------
    Wishlist-page
------------------------*/     
.heading-title.wishlist { margin-top: 30px;
}    
.shopping-btn.wishlist .rs-wishlist { margin-bottom: 20px;
}
/*-----------------------
    Single-product
------------------------*/      
.zoomLens { height: 150px !important; width: 100px !important;
}    
.zoomWindow {  height: 300px !important;  width: 90px !important;
}    
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-next { top: 217px;
}
.single-zoom-thumb .bx-controls-direction a.bx-prev::after { display: none;
}    
.single-zoom-thumb::after { height: 235px;
}
.product-details.shop-review.single-pro-zoom { margin-top: 50px;
} 
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-next { left: 8px;
}    
.single-zoom-thumb { right: 16px;
}    
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-prev{ left: 5px;
}    
.footer-area.rs-sing-pro,.section-heading.pro-title.blog-margin.rs-sing-pro {
  margin-top: 30px;
}    
.product-cart.single-pro.rs-sing-pro { margin-top: 20px;
}
/*--------Login-----------*/     
.form-fields.rs-login-mar {
  margin-top: 30px;
}        
    
}

/*---------------------------
    Large Mobile :480px. 
----------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
/*--------------
    Home-1
---------------*/    
.mobile-menu-area { padding: 110px 0 35px;
}
.header-link-area.home-1, .header-link-area.home-2 { display: inline-block; float: none;
  margin: 20px 0 0 5px;
}            
.single-banner span img { width: 100%;
}    
.blog-img a img {width: 100%;
}    
.blog-time {top: 73%;}    
.copy-right {text-align: center; float: none;
}
.testimonial-carousel.owl-theme .owl-controls .owl-pagination { right: -15px;
}    
.header-search { display: block;
}    
.mean-container .mean-bar { z-index: 0;
}    
.search-hover.home-1 { display: inline-block; position: relative; top: 23px;
  margin-right: 20px;
}
.search-hover.home-1 a.icon { float: none;
}
li.search-hover.home-1:hover .search { top: 99%;
}    
.search.home-1 { right: -95px;
}    
/*--------------
    Home-3
---------------*/
.header-area.home-3 .logo-img { text-align: center;
}   
.header-link-area.home-3 { display: inline-block; float: none; margin-top: 50px;
  right: 0;
}
.header-right.home-3 .cart-total {left: -53%;
}        
/*--------------
    Home-5
---------------*/  
.mobile-menu-area.home-5 { padding: 35px 0px;
}    
.features-nav-home-5 li a { padding: 0 30px;
}
.all-product-carousel.home-5 .product-img a img {
  width: 100%;
}
/*--------------
    About--us
---------------*/
.member-pic img { display: block; width: 100%;
}
.member-info { max-width: 100%;
}
/*--------------
    shop page
---------------*/    
.sort-none {
  display: none;
}    
/*--------------
    Blog--page
---------------*/   
.toolbar .sorter { display: inline-block; float: none;
}
/*--------------
    Cart-page
---------------*/    
.button-cart-right { text-align: center;
}    
.place-section .rate-subtotal p { text-align: center;
}
/*-----------------
    Checkout-page
------------------*/
.product-cart.login { margin: 0 0 0 30px;
}
.card-control .label {
  font-size: 11px;overflow: visible;
}    
/*-----------------
    Account-page
------------------*/    
.product-cart.account-but.log { margin-left: 30px;margin-top: 0px;
}
/*-----------------
   Single-product
------------------*/
.single-zoom {  width: 75%;
}    
.zoomLens { height: 200px !important;  width: 150px !important;
}    
.zoomWindow {  height: 400px !important;  width: 120px !important;
}      
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-next { top: 322px;
}
.single-zoom-thumb::after { height: 365px;
}
.single-zoom-thumb .bx-wrapper .bx-controls-direction a.bx-prev { left: 17px;
}    
   
    
}
 
